@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/montserrat-variablefont_wght.ttf') format('truetype'),
         url('../Fonts/montserrat-italic-variablefont_wght.ttf') format('truetype'),
         url('../Fonts/montserrat-variablefont_wght-webfont.woff') format('woff'),
         url('../Fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('../Fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff'),
         url('../Fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lost-in-South';
    src: url('../Fonts/lost-in-south.ttf') format('truetype'),
         url('../Fonts/lost-in-south-webfont.woff') format('woff'),
         url('../Fonts/lost-in-south-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('../Fonts/Agrandir-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Agrandir-GrandHeavy';
    src: url('../Fonts/Agrandir-GrandHeavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Agrandir-TextBold';
    src: url('../Fonts/Agrandir-TextBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Graphik Arts';
    src: url('../Fonts/Graphik\ Arts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Sprite-Graffiti';
    src: url('../Fonts/sprite-graffiti-regular.ttf') format('truetype'),
         url('../Fonts/sprite-graffiti-regular.woff') format('woff'),
         url('../Fonts/sprite-graffiti-regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sprite-Graffiti-Shadow';
    src: url('../Fonts/sprite-graffiti-shadow.ttf') format('truetype'),
         url('../Fonts/sprite-graffiti-shadow.woff') format('woff'),
         url('../Fonts/sprite-graffiti-shadow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
