:root {
    --bg-color: #2b2b2b;
    --font-color: white;
    --nav-bg-color: #2b2b2b;
    --toggler-bg-color: #e4e2dd;
    --toggler-focus-bg-color: #444;
    --nav-link-color: white;
    --nav-link-hover-color: white;
    --nav-link-active-color: white;
    --nav-link-active-hover-color: white;
    --nav-link-hover-underline: white;
    --social-icon-dark: white;
    --social-icon-light: black;
}

.light-mode {
    --bg-color: #e4e2dd !important;
    --font-color: black !important;
    --nav-bg-color: #e4e2dd !important;
    --toggler-bg-color: #e4e2dd !important;
    --toggler-focus-bg-color: #444 !important;
    --nav-link-color: black !important;
    --nav-link-hover-color: black !important;
    --nav-link-active-color: black !important;
    --nav-link-active-hover-color: black !important;
    --nav-link-hover-underline: black !important;
    --social-icon-dark: black !important;
    --social-icon-light: white !important;
}

.dark-mode {
    --bg-color: #2b2b2b !important;
    --font-color: white !important;
    --nav-bg-color: #2b2b2b !important;
    --toggler-bg-color: #e4e2dd !important;
    --toggler-focus-bg-color: #444 !important;
    --nav-link-color: white !important;
    --nav-link-hover-color: white !important;
    --nav-link-active-color: white !important;
    --nav-link-active-hover-color: white !important;
    --nav-link-hover-underline: white !important;
    --social-icon-dark: white !important;
    --social-icon-light: black !important;
}

html, body {
    background-color: var(--bg-color);
    color: var(--font-color);
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid var(--font-color);
    background-color: var(--nav-bg-color);
}

.navbar a {
    color: var(--font-color);
    position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--nav-link-active-color) !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:visited {
    color: var(--nav-link-hover-color) !important; 
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:visited::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; 
    height: 3px;
    margin: 8px 8px;
    background-color: var(--nav-link-hover-underline);
}

.navbar.bg-body-tertiary {
    background-color: var(--nav-bg-color) !important;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.navbar .navbar-toggler:hover {
    background-color: rgb(125, 125, 125);
}

.nav-buttons {
    display: flex;
    align-items: center;
}

#light-dark-mode {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: white;
    border: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.mode-toggle {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 48px;
    background-color: white;
    margin-right: 25px;
    outline: 1px solid black;
    border-radius: 25px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

#mode-flip {
    position: absolute;
    display: flex;
    height: 24px;
    width: 48px;
    align-items: center;
    justify-self: flex-start;
}

#mode-icon {
    position: absolute;
    width: 24px;
}

.social-icon {
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 991.98px) {
    .d-lg-flex {
        display: none !important;
    }
}